<section class="home" id="home">
    <div class="content">
        <h3>fresh flowers</h3>
        <span>natural & beautiful flowers</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
         <a href="/auth/products" class="btn">shop now</a>
    </div>
</section>
  