<section class="contact">
    <h1 class="heading">Log <span>In</span></h1>
    <div class="row">
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" placeholder="username" class="box">
                <input type="email" id="email" name="email" placeholder="email" class="box">
                <input type="password" name="password" id="password" class="box" placeholder="password" required>
                <button type="submit" class="btn">log in</button>
        </form>
    </div>
    <p class="login-p">Don't have an account? <a href="/signup" class="login-a">Sign up</a></p>
</section>