<section class="my-account">
    <div class="content">
        <h3><%= user.username %></h3>
        <p><%= user.photo.data %></p>
        <a href="/users/orders" class="fas fa-shopping-cart">My Orders</a>
        <a href="/users/favourites" class="fas fa-heart">My Favourites</a>
        <a href="/api/logout" class="fas fa-sign-out-alt">Log Out</a>
    </div>
</section> 