<section class="my-account">
    <div class="content">
        <h3><%= user.username %></h3>
        <p><%= user.photo.data %></p>
        <a href="/orders/<%= user.id %>" class="fas fa-shopping-cart">My Orders</a>
        <a href="/favourites/<%= user.id %>" class="fas fa-heart">My Favourites</a>
        <a href="/logout" class="fas fa-sign-out-alt">Log Out</a>
    </div>
</section> 