<section>
    <h1 class="heading"><span>payment</span> here</h1>
<script src="https://js.stripe.com/v3/"></script>
<form  id="payment-form">
    <div id="card-element"></div>
    <button id="submit">Pay</button>
    <div id="payment-result"></div>
</form>
<script src="/scripts/payment.js"></script>
</section>