<section class="contact">
    <h1 class="heading">Sign <span>Up</span></h1>
    <div class="row">
        <form action="/auth/signup" method="POST">
                <input type="text" id="username" name="username" placeholder="username" class="box">
                <input type="email" id="email" name="email" placeholder="email" class="box">
                <input type="password" name="password" id="password" class="box" placeholder="password" required>
                <input type="password" name="passwordConfirm" id="passwordConfirm" class="box" placeholder="password confirm" required>
                <button type="submit" class="btn">sign up</button>
        </form>
    </div>
    <p class="login-p">Already have an account? <a href="/login" class="login-a">Log In</a></p>
</section>